* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    
  }
  .pozadina{
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
  }
  .container {
    position: relative;
  }
#tody{
    display: block;
    margin: auto;
    height: 100vh;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 7em;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
@media only screen and (max-width: 800px) {
  #tody{
    display: block;
    margin: auto;
    width: 100vw;
  }
  .rainbow {
  
  font-size: 5em;
  
  }
}